@import "tailwindcss";

:root {
  --background: #f3f4f6; /* Đổi nền web thành xám cực nhạt (giống bg-gray-100) để nổi bật thẻ sản phẩm trắng */
  --foreground: #111827;
}

/* Định nghĩa màu chuẩn cho Tailwind v4 */
@theme {
  --color-primary-light: #60a5fa;
  --color-primary: #2563eb;
  --color-primary-dark: #1d4ed8;
  --color-secondary: #facc15;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}